#### Use pacman to package loading the rio

In [11]:
install.packages("pacman")
pacman::p_load(pacman, rio)

Warning message:
"package 'pacman' is in use and will not be installed"

#### This is to import data from csv txt etc

In [13]:
rio_csv <- import("mbb.csv")
head(rio_csv)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [14]:
rio_text <- import("mbb.txt")
head(rio_text)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [16]:
rio_xlsx <- import("mbb.xlsx")
head(rio_xlsx)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

#### Use the data viewer to view the csv file.

In [17]:
?View
View(rio_csv)

    Month   Mozart Beethoven Bach
1   2004-01  12    8         15
2   2004-02  12    9         15
3   2004-03  12    9         14
4   2004-04  12    8         14
5   2004-05  11    9         13
6   2004-06   9    7         12
7   2004-07   7    5         11
8   2004-08   7    6         11
9   2004-09   9    7         12
10  2004-10  11    8         13
11  2004-11  11    8         14
12  2004-12  10    8         13
13  2005-01  11    8         13
14  2005-02  11    8         16
15  2005-03  10    8         13
16  2005-04  11    8         13
17  2005-05  11    8         12
18  2005-06   9    7         12
19  2005-07   7    5         11
20  2005-08   7    5         12
21  2005-09   9    6         11
22  2005-10  10    7         12
23  2005-11  11    7         12
24  2005-12  11    7         12
25  2006-01 100    7         13
26  2006-02  25    7         12
27  2006-03  19    7         14
28  2006-04  14    6         12
29  2006-05  15    7         12
30  2006-06  11    5         11
⋮   ⋮       ⋮      ⋮         ⋮
123 2014-03 6       4        10
124 2014-04 6       4        10
125 2014-05 6       5         9
126 2014-06 5       4         9
127 2014-07 5       3         9
128 2014-08 5       4         9
129 2014-09 5       4         9
130 2014-10 6       4         9
131 2014-11 6       5         9
132 2014-12 6       4         9
133 2015-01 7       4        10
134 2015-02 6       4        10
135 2015-03 6       4        10
136 2015-04 6       4        10
137 2015-05 6       4        10
138 2015-06 5       4         9
139 2015-07 4       3         9
140 2015-08 5       3        10
141 2015-09 5       4         9
142 2015-10 5       4         9
143 2015-11 5       4         9
144 2015-12 6      10         9
145 2016-01 9       4         9
146 2016-02 6       4         8
147 2016-03 6       4        10
148 2016-04 5       4        10
149 2016-05 5       4         9
150 2016-06 5       3         8
151 2016-07 4       3         9
152         4       3         9

View                   package:utils                   R Documentation

_I_n_v_o_k_e _a _D_a_t_a _V_i_e_w_e_r

_D_e_s_c_r_i_p_t_i_o_n:

     Invoke a spreadsheet-style data viewer on a matrix-like R object.

_U_s_a_g_e:

     View(x, title)

_A_r_g_u_m_e_n_t_s:

       x: an R object which can be coerced to a data frame with
          non-zero numbers of rows and columns.

   title: title for viewer window.  Defaults to name of 'x' prefixed by
          'Data:'.

_D_e_t_a_i_l_s:

     Object 'x' is coerced (if possible) to a data frame, then columns
     are converted to character using 'format.data.frame'.  The object
     is then viewed in a spreadsheet-like data viewer, a read-only
     version of 'data.entry'.

     If there are row names on the data frame that are not '1:nrow',
     they are displayed in a separate first column called 'row.names'.

     Objects with zero columns or zero rows are not accepted.

     On Unix-alikes, the array of cells can be navigated by the cursor
          keys and Home, End, Page Up and Page Down (where supported by
          X11) as well as Enter and Tab.

     On Windows, the array of cells can be navigated _via_ the
          scrollbars and by the cursor keys, Home, End, Page Up and
          Page Down.

          On Windows, the initial size of the data viewer window is
          taken from the default dimensions of a pager (see
          'Rconsole'), but adjusted downwards to show a whole number of
          rows and columns.

_V_a_l_u_e:

     Invisible 'NULL'.  The functions puts up a window and returns
     immediately: the window can be closed via its controls or menus.

_S_e_e _A_l_s_o:

     'edit.data.frame', 'data.entry'.

In [19]:
r_txt1 <- read.table("mbb.txt", header = TRUE)
# have missing value so cannot

Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
"number of items read is not a multiple of the number of columns"

In [22]:
r_txt2 <- read.table("mbb.txt", 
  header = TRUE, 
  sep = "\t")

r_txt2

    Month   Mozart Beethoven Bach
1   2004-01  12    8         15
2   2004-02  12    9         15
3   2004-03  12    9         14
4   2004-04  12    8         14
5   2004-05  11    9         13
6   2004-06   9    7         12
7   2004-07   7    5         11
8   2004-08   7    6         11
9   2004-09   9    7         12
10  2004-10  11    8         13
11  2004-11  11    8         14
12  2004-12  10    8         13
13  2005-01  11    8         13
14  2005-02  11    8         16
15  2005-03  10    8         13
16  2005-04  11    8         13
17  2005-05  11    8         12
18  2005-06   9    7         12
19  2005-07   7    5         11
20  2005-08   7    5         12
21  2005-09   9    6         11
22  2005-10  10    7         12
23  2005-11  11    7         12
24  2005-12  11    7         12
25  2006-01 100    7         13
26  2006-02  25    7         12
27  2006-03  19    7         14
28  2006-04  14    6         12
29  2006-05  15    7         12
30  2006-06  11    5         11
⋮   ⋮       ⋮      ⋮         ⋮
123 2014-03 6       4        10
124 2014-04 6       4        10
125 2014-05 6       5         9
126 2014-06 5       4         9
127 2014-07 5       3         9
128 2014-08 5       4         9
129 2014-09 5       4         9
130 2014-10 6       4         9
131 2014-11 6       5         9
132 2014-12 6       4         9
133 2015-01 7       4        10
134 2015-02 6       4        10
135 2015-03 6       4        10
136 2015-04 6       4        10
137 2015-05 6       4        10
138 2015-06 5       4         9
139 2015-07 4       3         9
140 2015-08 5       3        10
141 2015-09 5       4         9
142 2015-10 5       4         9
143 2015-11 5       4         9
144 2015-12 6      10         9
145 2016-01 9       4         9
146 2016-02 6       4         8
147 2016-03 6       4        10
148 2016-04 5       4        10
149 2016-05 5       4         9
150 2016-06 5       3         8
151 2016-07 4       3         9
152         4       3         9

In [26]:
trends.csv <- read.csv("mbb.csv", header = TRUE)

In [25]:
rm(list = ls()) 

# Clear packages
p_unload(all)  # Remove all add-ons

# Clear console
cat("\014")  # ctrl+L

# Clear mind :)

The following packages have been unloaded:
rio, pacman